@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #eee;
  color: #333;
  text-align: center;
}

header h1 {
  margin: 0 0;
  font-size: 3.5rem;
  font-weight: 400;
}

.formulario {
  width: 70%;
  height: auto;
  margin: 2rem auto;
  font-size: 1rem;
  color: #495057;
}

form {
  display: grid;
  grid-template: repeat(5, 1fr) auto auto auto 1fr / 1fr 1fr;
  grid-gap: 1rem;
  align-items: flex-start;
}

form input,
form select {
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: var(--bd-normal);
  box-shadow: var(--bs-normal);
  height: 2.125rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  color: #495057;
  --bs-pseudo: 0 0 5px #3786da;
  --bd-pseudo: 1px solid #30567e;
  --bd-normal: 1px solid #ced4da;
  --bs-normal: none;
}

form input:hover, form select:hover {
  box-shadow: var(--bs-pseudo);
}

form input:focus, form select:focus {
  outline: none;
  box-shadow: var(--bs-pseudo);
  border: var(--bd-pseudo);
}

.error {
  color: red;
}

form select {
  appearance: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  height: 2.375rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

form input[type="radio"],form input[type="radio"]:focus,form input[type="radio"]:hover {
  margin: 0 0.5rem;
  vertical-align: bottom;
  height: 1.4rem;
  box-shadow: none;
}

.prestamo {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.plazo {
  grid-area: 1 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.gasto-inicial {
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.gasto-cuota {
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.forma-pago {
  grid-area: 3 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.dia-pago {
  grid-area: 3 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.dia-pago .grid-quincenal {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 1rem;
}

.tasa {
  grid-area: 4 / 1 / span 1 / span 2;
  display: flex;
  flex-direction: column;
}

.fecha-desembolso {
  grid-area: 5 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

form input[type="date"] {
  font-family: "Open Sans", sans-serif;
}

.fecha-cuota-1 {
  grid-area: 5 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
}

.meses-especiales {
  grid-area: 6 / 1 / span 2 / span 2;
  display: flex;
  flex-direction: column;
}

.meses-especiales .secundario {
  margin-top: 1rem;
}

.campos-obligatorios {
  grid-area: 8 / 1 / span 1 / span 2;
  align-self: center;
  margin-top: 0;
  font-size: 0.9rem;
}

#calcular {
  grid-area: 9 / 1 / span 1 / span 2;
  justify-self: center;
  align-self: center;
}

.boton {
  border-radius: 5px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.primario {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #6091c5 0%, #446e9b 100%);
  color: white;
}

.primario:hover {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #507eaf 0%, #30567e 100%);
}

.secundario {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}

.secundario:hover {
  border: 1px solid #ced4da;
  width: auto;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #ebe5e5 100%);
}

.meses-especiales .secundario {
  width: 4rem;
}
